.mainFoto{
    max-width: 210px;
    box-shadow: 0px 0px 2px wheat;
    padding: 15px;
    border-radius: 20px;
    background-color: #1F1F1F;
}
.contact{
    margin-left: 15px;
}
.ProfileDataForm{
    display: flex;
    flex-direction: column;

    box-shadow: 0px 0px 2px wheat;
    border-radius: 20px;
    background-color: #1F1F1F;
    padding: 15px;
    z-index: -1;

    width: 500px;
    position: relative;
    top: -267px; left: 260px;
    color: red;
}
.ProfileDataForm b {
    color: #848484;
}
.Top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2B2B2B;
    color: #EBEBEB;
    font-size: 19px;
    font-family:Arial;
    width: 100%;
    padding-bottom: 30px;
}
.Top span {
    font-size: 14px;
    color: #9D9D9D;
}
.Content{
    border-bottom: 1px solid #2B2B2B;
}
.profileStatus:hover{
    background-color: #2B2B2B;
}
.profileStatus{
    position: relative;
    top: -204px; left: 22px;
    color: ivory;
    z-index: 1;
    display: inline-block;
    width: 498px;
    text-align: left;
    cursor: pointer;
    height: 25px;
}

.ProfileStatusActiv input{
    border: none;
    background-color: #2B2B2B;
    color: #EBEBEB;
    width: 494px;
    border-radius: 0px;
    outline:none;
    font-size: 16px;
    height: 15px;
    height: 24px;
}