
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@200&family=Space+Mono&display=swap');


.mainFoto{
    max-width: 210px;
    box-shadow: 0px 0px 2px wheat;
    padding: 15px;
    border-radius: 20px;
    background-color: #1F1F1F;
}
.contact{
    margin-left: 15px;
}
.ProfileDataForm{
    display: flex;
    flex-direction: column;

    box-shadow: 0px 0px 2px wheat;
    border-radius: 20px;
    background-color: #1F1F1F;
    padding: 15px;

    width: 500px;
    position: relative;
    top: -267px; left: 260px;
    color: red;
}
.ProfileDataForm b {
    color: #848484;
}
.Top{
    border-bottom: 1px solid #2B2B2B;
    color: #EBEBEB;
    font-size: 19px;
    font-family:Arial;
    padding-bottom: 7px;
}
.Top span {
    font-size: 14px;
    color: #9D9D9D;
}
.nameAndOnline{
    display: flex;
    justify-content: space-between;
}
.Content{
    border-bottom: 1px solid #2B2B2B;
}
.profileStatus:hover{
    background-color: #2B2B2B;
}
.profileStatus{
    color: #EBEBEB;
    cursor: pointer;
    width: 500px;
    height: 26px; 
    font-size: 14px;
    line-height: 26px;
    padding-left: 2px;
    font-family: 'Space Mono', monospace;
    letter-spacing: 1px;
}

.ProfileStatusActiv input{
    border: none;
    box-shadow: 0px 0px 2px wheat;

    background-color: #2B2B2B;
    color: #EBEBEB;
    width: 496px;
    border-radius: 0px;
    outline:none;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    font-family: 'Space Mono', monospace;
    letter-spacing: 1px;
} 