.container{

}
.AddNewPostForm{
    display: flex;
    background-color:#1F1F1F;

    border: 1px solid red;
    width: 532px;
    height: 100px;
    border-radius: 15px;

    position: relative;
    top: 20px; left: 470px;
}
.miniManePhoto{
    width: 52px;
}
.AddNewPostForm textarea{
    background-color:#1F1F1F;
    width: 480px;
    height: 80px;
    border-radius: 15px;
    border: none;
    resize: none;
    padding: 7px;

    
}