@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=M+PLUS+2:wght@200&family=Space+Mono&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    z-index: 1;

    background-color: #1F1F1F;
    border-radius:0px 0px 20px 20px;
    box-shadow: 0px 0px 2px wheat;
    margin-bottom: 15px;
}
.header img {
    width: 35px;
    border-radius:50px;
    margin-right: 5px;
}

.header button{

}
.Logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'Arvo', serif;
    font-size: 25px;
    color: #24A2A1;

}
.Logo:hover{
    color: #44e0e0;
}
.Logo svg{
    fill: #D80540;
}
.LogoSVG{
    width: 50px;
    margin-right: 7px;
}
.loginBlock button{

    font-family: 'Space Mono', monospace;
    cursor: pointer;
    box-shadow: 0px 0px 2px wheat;
    border: none;
    background-color: #1F1F1F;
    color: #848484;
}
.loginBlock button:hover{
    color: white;
    box-shadow: 0px 0px 2px rgb(252, 242, 223);
}
.HeaderRigth{
    display: flex;
    align-items: center;
    cursor: pointer;
}